*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient(120deg, rgb(63, 58, 58), rgb(155, 149, 149));
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
}

.app{
    width: 90%;
    margin: 30px auto;
}

#input-el{
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #000;
}

.buttons{
    margin: 10px 0;
}

.buttons button{
    padding: 4px 8px;
    outline: none;
    border: none;
}

#save-btn:hover{
    background: rgb(63, 58, 58);
    color: #fff;
}

.urls{
    width: 90%;
    margin: 20px auto;
    color: #fff;
}

.urls ul{
    list-style: none;
}

.urls ul li{
    margin: 10px 0 70px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggles{
    display: flex;
    font-size: 12px;
}

.toggles img{
    width: 20px;
    cursor: pointer;
    margin-left: 15px;
}

#note-el{
    position: absolute;
    bottom: -35px;
    width: 100%;
    color: #000;
    padding: 6px;
    visibility: hidden;
    opacity: 0;
}

#note-el::placeholder{
    color: #000;
}

.note{
    position: relative;
}

.note-pop{
    position: absolute;
    background: #fff;
    width: 90px;
    padding: 4px;
    color: #000;
    top: -25px;
    left: -60px;
    display: none;
}

.note:hover .note-pop{
    display: block;
}

.delete{
    position: relative;
}

.delete-pop{
    position: absolute;
    background: #fff;
    width: 70px;
    padding: 4px;
    color: #000;
    top: -20px;
    right: -60px;
    display: none;
}

.delete:hover .delete-pop{
    display: block;
}

.urls ul li::before{
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: -20px;
}

.urls ul li a{
    color: #fff;
    font-size: 18px;
}

p{
    display: block;
    width: 50%;
    background: #fff;
}